
{% extends "plantilla_padre.html" %}

{% block title %} {{common_name}} {% endblock %}

{% block content %} 



<div class="row justify-content-center">
    <div class="card" style="width: 85rem; background-color: rgb(239, 239, 227);">

        <h5 class="card-header">
            <a href="../listado_de_plantas" class="btn btn-success">Regresar</a>
        </h5>
        <div class="card-body">
            <div class="row justify-conte   nt-between">
                <div class="col-4">
                    <img  src= '{{default_image.original_url}}' class="img-thumbnail" alt="Card image cap" >
                </div>  

                <div class="col-8">
                    <div calss = "row">
                        <h5 class="card-title">{{common_name}}</h5>
                        <h5 class="card-title">Nombre Cientifico: {{scientific_name.0}}</h5>

                        <div class="row justify-content-center" style="margin: 2rem;">
                          <div class="container text-center">
                            <div class="row align-items-start" >
                              <div class="col" style=" padding: 0;">
                                <div style="background-color: rgb(77, 181, 61);">

                                  <div class="container text-center">
                                    <div class="row">
                                      <div class="col align-self-center">
                                        <h3>Datitos Planta</h3>
                                      </div>
                                  
                                    </div>

                                  </div>

                                </div>
                                <div style="background-color: rgb(124, 212, 110); height: 20rem; ">
                                  
                                  
                                  <div>

                                    <p> Tipo de planta: {{type}} </p>
                                    <p> Ciclo: {{cycle}} </p>
                                    <p> Flores: {{flowers}} </p>

                                  </div>
                                  
                                </div>
                              </div>
                              <div class="col" style=" padding: 0;">
                                <div style="background-color: rgb(168, 165, 116);">
                                  
                                  <div class="container text-center">
                                    <div class="row">
                                      <div class="col align-self-center">
                                        <h3>Cuidados y Especificaciones</h3>
                                      </div>
                                  
                                    </div>

                                  </div>
                                  
                                </div>
                                <div style="background-color: rgb(208, 205, 154); height: 20rem;">
                                  
                                  <div>

                                    <p> Cantidad de sol: {{sunlight.0}} </p>
                                    <p> Regado: {{watering}} </p>
                                    <p> periodo de regado: {{watering_period}} </p>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>  
     </div>
  </div>
{% endblock %}