{% extends "plantilla_padre.html" %}

{% block title %} Plantas {% endblock %}
    
{% block content %}
<div class="row justify-content-center">
    <div class="card" style="width: 85rem; background-color: rgb(239, 239, 227);">

        <h5 class="card-header">
        </h5>
        <div class="card-body">
            <div class="row justify-conte   nt-between">
            </div>
            <h1>¿Que motivo a la creación de la pagina?</h1>
            <h2>El problema que hemos podido
                logra apreciar, es el nulo
                conocimiento que tienen algunas
                personas sobre el cuidado de las
                plantas y las áreas verdes a su
                alrededor.
            </h2>

            <h1>Objetivos con la pagina</h1>

            <h2>Los principales objetivos y soluciones son:
                Se busca ofrecer información detallada sobre el
                cuidado de las plantas a los usuarios de la
                página, con el objetivo de superar la barrera
                existente de escasez de conocimiento en este
                ámbito. Esta iniciativa tiene como propósito
                brindar al público sin experiencia en el cuidado
                de las plantas las herramientas necesarias para
                incursionar en este campo, fomentando así la
                posibilidad de cuidar y mejorar áreas verdes con
                mayor eficacia y conocimiento.</h2>
            <h2></h2>
        </div>
    </div>
                     
             
</div>
  
{% endblock %}
